[submodule "external/tinyobjloader"]
	path = external/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
[submodule "external/stb"]
	path = external/stb
	url = git@github.com:nothings/stb.git
[submodule "external/tinygltf"]
	path = external/tinygltf
	url = git@github.com:syoyo/tinygltf.git
[submodule "external/json"]
	path = external/json
	url = git@github.com:nlohmann/json.git
